body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

textarea {
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: #ececec 1px solid;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: #2196f3;
}

.nav__header-logo-half {
  color: #212121;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 94px;
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current:focus, .nav__link--current:hover {
  color: #188ce8;
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-size: contain;
  background-color: #2196f3;
}

.nav__link--current:hover::after {
  -webkit-transform: skaleX(1);
          transform: skaleX(1);
}

.nav__link--current, .nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item + .address__item {
  margin-left: 50px;
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__icon:hover, .address__icon:focus {
  fill: currentColor;
}

.hero-overlay {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-width: 1200px;
  height: 600px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mainback.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mainback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.hero-overlay__title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.features {
  padding: 94px 0;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  list-style: none;
}

.features__logo {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 100px;
  fill: currentColor;
  background-color: #f5f4fa;
  width: 100%;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  font-weight: 700;
}

.gallery {
  padding-bottom: 94px;
}

.gallery__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.gallery__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.gallery__item + .gallery__item {
  margin-left: 30px;
}

.gallery__box {
  position: relative;
  height: 294px;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 1;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.6);
  color: #ffffff;
}

.team {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  list-style: none;
}

.team__member-box {
  padding: 30px 20px;
}

.team__name {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  list-style: none;
}

.team__item + .team__item {
  margin-left: 10px;
}

.team__list .team__shadow + .team__shadow {
  margin-left: 30px;
}

.team__shadow {
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team__shadow:last-child {
  margin-right: 0px;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}

.team__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}

.team__link:hover .team__icon,
.team__link:focus .team__icon {
  fill: #ffffff;
}

.clients {
  padding: 94px 0;
}

.clients__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__image {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__image,
.clients__link:focus .clients__image {
  fill: #2196f3;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  background-color: #2f303a;
  padding: 60px 0 60px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
}

.footer__logo-half {
  color: #ffffff;
}

.footer__address-fiz {
  margin-bottom: 9px;
  color: #ffffff;
}

.footer__address-fiz, .footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address {
  list-style: none;
}

.footer__address .footer__link:hover,
.footer__address .footer__link:focus {
  color: #2196f3;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join__content {
  margin-left: 70px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

.join__icon {
  fill: #ffffff;
}

.subscribe-form {
  margin-left: 90px;
}

.subscribe-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form__elements-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.subscribe-form__input {
  width: 360px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__:focus {
  border: 1px solid #2196f3;
}

.subscribe-form__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.button--subscribe-form {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.button--subscribe-form:hover, .button--subscribe-form:focus {
  background-color: #188ce8;
}

.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 530px;
  height: 580px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-button-icon {
  fill: #2196f3;
}

.modal__close-button .modal__close-button-icon {
  position: relative;
  top: 10%;
  left: -1%;
}

.callback-form {
  width: 100%;
  padding: 40px;
}

.callback-form__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.callback-form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-bottom: 10px;
}

.callback-form__item:last-child {
  margin-bottom: 20px;
}

.callback-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.callback-form__input {
  padding: 12px 40px;
}

.callback-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__input:focus + .callback-form__icon {
  fill: #2196f3;
}

.callback-form__comment {
  padding: 12px 16px;
  height: 120px;
}

.callback-form__input, .callback-form__comment {
  margin: 0;
  border-radius: 4px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.callback-form__input::-webkit-input-placeholder, .callback-form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input:-ms-input-placeholder, .callback-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input::-ms-input-placeholder, .callback-form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input::placeholder, .callback-form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input:focus, .callback-form__comment:focus {
  border: 1px solid #2196f3;
}

.callback-form__check-mark {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.callback-form__agreement {
  color: #2196f3;
}

.callback-form__button {
  text-align: center;
}

.callback-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.callback-form__checkbox--custom {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.callback-form__checkbox--custom:checked + .callback-form__check-mark {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("/images/icons/checkbox-on.svg");
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.button--callback-form {
  padding: 10px 55px;
}

.button--callback-form:hover, .button--callback-form:focus {
  background-color: #188ce8;
}

.portfolio {
  padding: 94px 0;
}

.portfolio__filtres--current:hover, .portfolio__filtres--current:focus {
  background-color: #188ce8;
}

.portfolio__filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.portfolio__item + .portfolio__item {
  margin-left: 8px;
}

.button--portfolio-filtres {
  padding: 6px 22px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  background-color: #f5f4fa;
}

.button--portfolio-filtres:hover, .button--portfolio-filtres:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio__filtres--current {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.projects__border {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__border:nth-child(3n) {
  margin-right: 0;
}

.projects__border:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects__link {
  display: block;
  height: 100%;
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
}

.projects__link:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__discription {
  color: #ffffff;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.projects__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title-color {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: #212121;
}
/*# sourceMappingURL=main.css.map */