.hero-overlay {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-width: 1200px;
  height: 600px;
  text-align: center;
  background-color: $background-color;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mainback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &__title {
    margin: 0 auto 30px;
    max-width: 696px;
    color: $secondary-text-color;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.button {
  @include button($size: 10px 32px, $font-weight: 700);

  &:hover,
  &:focus {
    background-color: $button-background-color;
  }
}