.menu-toggle {
  @include CenterFlex(center, center);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 999;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-menu .navigation-close {
  transition: fill var($cubic-anim);
}
.menu-toggle .navigation-close {
  display: none;
}

.menu-toggle.is-open .navigation-close {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: $secondary-text-color;
  z-index: 998;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    font-size: 40px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 767px) {
    position: relative;
  }

  @media screen and(min-width: 1200px) {
    @include CenterFlex(flex-start, baseline);
    position: static;
  }
}
