/* Sign-up */

.sign-up {
  @media screen and(min-width: 768px) {
  }
  
  @media screen and(min-width: 1200px) {
    
  }

  &__title {
    @extend %title-footer;
    font-weight: 500;

    @media screen and(min-width: 768px) and(max-width: 1199px) {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
  }
  }
}

.form-sign-up {
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    @include centerdFlex(center, center);
    flex-direction: column;
    position: relative;
    top: -100px;
  }

  @media screen and(min-width: 1200px) {
    @include centerdFlex();
    flex-direction: row;
  }

  &__input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: rgba(47, 48, 58, 1);
    padding-left: 16px;

    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    color: $primary-white-color;

    @include transition(border);

    @media screen and(min-width: 768px) {
      width: 450px;
    }

    @media screen and(min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }

    &:hover {
      border-color: $accent-color;
    }
  }

  &__button {
    @extend %button;
    position: relative;
    padding: 10px 62px 10px 29px;
  }

  &__button:hover,
  &__button:focus {
    @extend %button-hover;
  }

  &__button:hover &__icon,
  &__button:focus &__icon {
    color: #188ce8;
  }

  &__icon {
    fill: $primary-white-color;
    position: absolute;
    top: 13px;
    right: 29px;
    @include transition(fill);
  }
}
