@mixin button($size: 10px 32px, $font-weight: 700) {
  padding: $size;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: $font-weight;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
  background-color: $accent-color;
  transition: background-color $cubic-anim, color $cubic-anim,
    box-shadow $cubic-anim;
}