  $primary-text-color:        #757575;
  $secondary-text-color:      #ffffff;
  $tittle-text-color:         #212121;
  $background-color:          #2f303a;
  $font-Raleway:              "Raleway", sans-serif;
  $font-Roboto:               "Roboto", sans-serif;
  $accent-color:              #2196f3;
  $button-background-color:   #188ce8;
  $footer-li-color:           rgba(255, 255, 255, 0.6);
  $team-background-color:     #f5f4fa;
  $social-footer-bg-color:    rgba(255, 255, 255, 0.1);
  $features-bg-color:         rgba(245, 244, 250, 1);
  $social-link-color:         #afb1b8;
  $portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  $portfolio-projects-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  $portfolio-filtres-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  $cubic-anim:                 250ms cubic-bezier(0.4, 0, 0.2, 1);